* {
  margin: 0;
  padding: 0;
  line-height: 0;
}

#container {
  width: 600px;
  margin: 20px auto;
  border: 5px solid red;
}

.thumb {
  box-sizing: border-box;
  float: left;
  width: 200px;
  border: 3px solid white;
}

.thumb:hover {
  opacity: 0.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faded {
  animation: fadeIn 0.5s;
}

#container::after {
  content: '';
  display: table;
  clear: both;
}
